// main colors
$color-primary: #ECCA30;
$color-danger: #F03B31;
$app-background: #162029;
$app-background-light: #232D36;
$app-text-color: #6E747A;

// main sizes
$app-header-height: 80px;
$app-content-max-width: 720px;

// inputs 
$input-bg-color: #36414B;
$input-border-radius: 4px;
$input-text-color: #fff;
$input-placeholder-color: #80878D;

// modals
$modal-header-bg-color: #29333C;
$modal-body-bg-color: #232E36;
$modal-footer-bg-color: #232E36;
$modal-border-radius: 8px;