<div class="dax365-auth-container">

  <div class="dax365-flex-c-c">
    <dax365-logo></dax365-logo>
  </div>

  <div class="dax365-auth-container__content">

    <h2>Registration</h2>
  
    <form [formGroup]="formGroup">
      
      <div class="form-group">
        <div class="dax365-input-title">email</div>
        <input 
          type="email" 
          placeholder="email" 
          (keyup.enter) ="registr()"
          class  = "dax365-input"
          formControlName="email">
        
        <dax365-error-message
          *ngIf="
            formGroup.controls.email.invalid && 
            (isSubmitted || formGroup.controls.email.dirty)"
          [showRequiredError] = "formGroup.controls.email.errors.required"
          [showEmailPatternError] = "formGroup.controls.email.errors.email">
        </dax365-error-message>
      </div>
      
      <div class="form-group">
        <div class="dax365-input-title">password</div>

        <dax365-password-wrapper
          [isPasswVisible] = "isPasswVisisble"
          [isToggleBtnVisible] = "formGroup?.controls?.password?.value"
          (togglePasswVisibility) = "isPasswVisisble = !isPasswVisisble">

          <input 
            type="{{isPasswVisisble ? 'text' : 'password'}}" 
            placeholder="password" 
            formControlName="password"
            class  = "dax365-input"
            (keyup.enter) ="registr()">
        </dax365-password-wrapper>

        <dax365-error-message
          *ngIf="
            formGroup.controls.password.invalid && 
            (isSubmitted || formGroup.controls.password.dirty)"
          [showRequiredError] = "formGroup.controls.password.errors.required">
        </dax365-error-message>
      </div>
    </form>
    
    <footer class="dax365-flex-c-c dax365-flex-column">

      <button 
        type = "button"
        class = "dax365-btn dax365-btn-primary"
        [disabled]="inProgress"
        (click)="registr()">
        registration
      </button>

      <button
        class="dax365-link" 
        (click)="goToLogin()">
        go to login
      </button>
    </footer>
  </div>
</div>

