@import 'variables';

:host {
  display: block;
  padding-top: $app-header-height;
}

dax365-shoppings-header {
  margin-top: 10px;
}

.content {
  margin: 0 auto;
  max-width: $app-content-max-width;
}