button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.dax365-btn {
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
  border-radius: 4px;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }
  
  &-primary {
    background-color: $color-primary;
    color: #3A4035
  }
}

.dax365-btn-icon {
  padding: 5px;
  cursor: pointer;

  fa-icon {
    color: #687075;
  }
}

