<div class="form-group">
  <div class="dax365-input-title">category</div>
  <dax365-shoppings-category-selector 
    [formCtrl]="categoryFormCtrl">
  </dax365-shoppings-category-selector>
</div>

<div class="form-group">
  <div class="dax365-input-title">name</div>
  <input 
    type="text" 
    placeholder="name" 
    class  = "dax365-input"
    [formControl]="nameFormCtrl">
</div>

<div class="form-group">
  <div class="dax365-input-title">description</div>
  <textarea 
    rows="4"
    type="text" 
    placeholder="description" 
    class  = "dax365-input"
    [formControl]="descripFormCtrl">
  </textarea>
</div>
