<button 
  type="button" 
  class="btn btn-primary" 
  (click)="openModal(template)">
  add item
</button>
 
<ng-template #template>

  <dax365-modal-header 
    [title]="'Add item'" 
    [modalRef]="modalRef">
  </dax365-modal-header>

  <div class="modal-body">
    <dax365-shopping-item-options 
      [formGroup] = "form">
    </dax365-shopping-item-options>
  </div>

  <div class = "modal-footer">
    <button 
      type = "button"
      class = "dax365-btn dax365-btn-primary">
      save
    </button>
  </div>
</ng-template>